nav.navbar.navbar-default.navbar-inverse
	div.container-fluid
		div.navbar-header
			a.navbar-brand(href="#")
				div.navbar-brand-name(style="margin-top: 10px")
				    img(src="../01590330314600_q5hyyjv6z_hex_041e42_hex2_xxxxxx_patt185-black.png")
				    img(src="../ing-amblem.png")
					span(style="color:#ffffff") Bilkent University Scheduler
		ul.nav.navbar-nav.navbar-right
			li
				a
					button.btn.btn-default.glyphicon.glyphicon-list(style="margin-top:20px" type="button" data-toggle="offcanvas" data-target="#history") &nbsp;Schedule History
